<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <title>TVPE</title>
    </head>

    <body>
        <nav>
            <a href="#">TVPE</a>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="/noticias">Notícias</a></li>
                <li><a href="#programacao">Programação</a></li>
                <li><a href="#login">Login</a></li>
                <li><a href="#cadastro">Cadastro</a></li>
                <li><a href="#QRCODE">QRCODE</a></li>
                <li><a href="#figurinhas">Figurinhas</a></li>
            </ul>
        </nav>

        <header id="topo">
            <h1>TV Pernambuco</h1>
            <p>
                Descrição
                <a href="#sobre">Ver mais</a>
            </p>
        </header>

        <section id="sobre">
            <h2>Sobre</h2>
            <p>Somos a TV Pernambuco, um canal dos pernambucanos 
            para os pernambucanos</p>
            <a href="#programacao">Veja a programação da semana!</a>
        </section>

        <section id="#programacao">
            <h2>Programação da semana</h2>
            <p>
                Segunda-Feira: gfadsgafsdf
                Terça-Feira: afsgfgadfga
            </p>
        </section>

        <section id="#noticias">
            <h2>Notícias</h2>
            <p>
                <li><a href="#news1">Pessoa Morre</a></li>
                <li><a href="#news2">Dolar Sobe</a></li>
                <li><a href="#news3">Sem Ideias</a></li>
            </p>

            <div id="#news1">Pessoa Morre após descobrir que o SR2 é dia 24</div>
            <div id="#news2">Dolar Sobe após Brasil empatar em 0x0 com Argentina</div>
            <div id="#news3">Não tenho criatividade suficiente</div>

        </section>

        <section id="#login">
            <h2>Login</h2>
            <p>
                NAO TA FUNCIONANDO
                Email:
                Senha:
            </p>
        </section>

        <section id="#cadastro">
            <h2>Cadastro</h2>
            <link rel="stylesheet" href="css/sigin.css">
        </section>

        <section id="#QRCODE">
            <h2>QRCODE</h2>
            <p>nao ta funcionando</p>
        </section>

        <section id="#figurinhas">
            <h2>figurinhas</h2>
            <p>nao ta funcionando</p>
        </section>

        <footer>
            <a href="#topo">Voltar</a>
            <p>Desenvolvido por EngagePE</p>
        </footer>
    </body>


</html>